@font-face {
    font-family: Ubuntu;
    src: url(fonts/UbuntuMono-R.woff) format('woff');
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Light.woff) format('woff');
    font-weight: 300;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Regular.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Medium.woff) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-SemiBold.woff) format('woff');
    font-weight: 600;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Bold.woff) format('woff');
    font-weight: 700;
}

@font-face {
    font-family: Rajdhani;
    src: url(fonts/Rajdhani-Light.woff) format('woff');
    font-weight: 300;
}

@font-face {
    font-family: Rajdhani;
    src: url(fonts/Rajdhani-Regular.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: Rajdhani;
    src: url(fonts/Rajdhani-Medium.woff) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: Rajdhani;
    src: url(fonts/Rajdhani-SemiBold.woff) format('woff');
    font-weight: 600;
}

@font-face {
    font-family: Rajdhani;
    src: url(fonts/Rajdhani-Bold.woff) format('woff');
    font-weight: 700;
}

html {
    width: 100%;
}

body {
    width: 100%;
    background-color: #192e4d;
    background-image: url(images/bg-lines.svg);
    color: #ffffff;
}

body, div, section, header, footer, h1, h2, h3, h4, p, ul, li, a, button, input {
    margin: 0;
    padding: 0;
    outline: none;
}

h2 {
    font-family: Rajdhani;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

h2 span {
    font-weight: 500;
    font-size: 1.3em;
}

.turquoise {
    color: #63fffe;
}

.underline {
    background-color: #63fffe;
    width: 70px;
    height: 3px;
    margin: auto;
    margin-top: 15px;
}

h2 img {
    height: 0.7em;
}

#top-bg {
    position: absolute;
    height: 860px;
    width: 100%;
    z-index: -1;
}

#bg-lights {
    background: rgba(20,75,153,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(20,75,153,1) 0%, rgba(25,46,77,1) 50%, rgba(25,46,77,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(20,75,153,1)), color-stop(50%, rgba(25,46,77,1)), color-stop(100%, rgba(25,46,77,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(20,75,153,1) 0%, rgba(25,46,77,1) 50%, rgba(25,46,77,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(20,75,153,1) 0%, rgba(25,46,77,1) 50%, rgba(25,46,77,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(20,75,153,1) 0%, rgba(25,46,77,1) 50%, rgba(25,46,77,1) 100%);
    background: radial-gradient(ellipse at center, rgba(20,75,153,1) 0%, rgba(25,46,77,1) 50%, rgba(25,46,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#144b99', endColorstr='#192e4d', GradientType=1 );
    
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    opacity: 0.5;
}

header {
    background-image: linear-gradient(180deg, rgba(15, 29, 53, 0.35), rgba(15, 29, 53, 0));
}

#header-content {
    margin: auto;
    padding: 15px 0;
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 170px;
}

header h1 img {
    height: 22px;
    margin-left: 30px;
}

header nav {
    line-height: 22px;
    height: 22px;
    margin: auto;
    font-size: 14px;
    font-family: Poppins;
    padding-right: 50px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
    margin-left: 2.5em;
    position: relative;
}

header nav ul li button {
    color: #ffffff;
    text-decoration: none;
    background: none;
    cursor: pointer;
    border: none;
    font-family: Poppins;
    margin-bottom: 2px;
}

header nav ul li button:hover {
    border-bottom: solid 2px rgb(99, 255, 254);
    margin-bottom: 0;
}

#contact-email {
    display: none;
    position: absolute;
    left: -80%;
    bottom: -30px;
    color: #fff;
    font-weight: 100;
    font-size: 0.95em;
    letter-spacing: 0.2px;
}

#contact-email a {
    text-decoration: none;
    color: #fff;
    display: none;
}

#slogan {
    margin-top: 70px;
}

#slogan h1 {
    font-size: 32px;
    letter-spacing: 1px;
    font-family: Rajdhani;
    font-weight: normal;
    text-align: center;
    font-weight: 500;
}

#terminal {
    background-color: rgba(15, 29, 53, 0.6);
    color: #eee;
    height: 350px;
    width: 640px;
    margin: auto;
    padding: 10px 20px;
    margin-top: 50px;
    margin-bottom: 60px;
    border-radius: 10px;
    font-family: Ubuntu;
    position: relative;
}

#terminal-output {
    margin-top: 10px;
    overflow: hidden;
    max-height: 85%;
    max-width: 100%;
    white-space: pre-wrap;
}

#terminal-input::after {
    padding: 0;
    content: "";
    display: inline-block;
    background-color: #eee;
    vertical-align: top;
    width: 0.55em;
    height: 1.1em;
    animation: blink 1.3s step-end infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.contact-form {
    margin: auto;
    margin-top: 0px;
    padding: 30px 0;
    text-align: center;
    width: 90%;
    max-width: 680px;
    border-top: 2px solid #63fffe;
    
    background-image: -moz-linear-gradient( 90deg, rgb(23,40,69) 0%, rgb(23,46,93) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(23,40,69) 0%, rgb(23,46,93) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(23,40,69) 0%, rgb(23,46,93) 100%);
    box-shadow: 1.882px 17.901px 73px 0px rgba(0, 0, 0, 0.5);
}

.contact-form h3 {
    font-family: Rajdhani;
    font-size: 20px;
    text-transform: uppercase;
}

.contact-form h3 span {
    font-size: 1.2em;
}

.contact-form p {
    font-family: Poppins;
    font-size: 13.5px;
    font-weight: 100;
    color: rgba(168, 198, 242, 0.6);
    margin-top: 7px;
}

.contact-form form {
    margin-top: 20px;
}

.contact-form input {
    background-color: #12223f;
    color: rgba(99, 255, 254, 0.7);
    border: 1px solid #1c366b;
    border-radius: 1px;
    padding: 8px 12px;
    font-family: Poppins;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 0.5px;
    width: 150px;
}

.contact-form input::placeholder {
/*    color: #1c366b;*/
    color: rgba(99, 255, 254, 0.35);
}

.contact-form input[type=submit] {
    color: #1c366b;
    background-color: #63fffe;
    border-radius: 5px;
    font-weight: 550;
    margin-left: 10px;
    width: 100px;
    cursor:pointer;
}

.contact-form input[type=submit]:hover {
    border: 1px solid #63fffe;
}

#bg-logo {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    background: url(images/bg-Extalio.png) no-repeat center;
    background-position: center;
    background-size: 1232px 200px;
    height: 200px;
    opacity: 0.2;
}

#why {
    font-family: Rajdhani;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding-bottom: 50px;
    overflow:hidden;
}

#ida-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
}

.why-box {
    border-width: 1px;
    border-color: rgb(99, 255, 254);
    border-style: solid;
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb(23,40,70) 0%, rgb(23,46,93) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(23,40,70) 0%, rgb(23,46,93) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(23,40,70) 0%, rgb(23,46,93) 100%);
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.why-toolbar {
    border-bottom: solid 1px rgb(99, 255, 254);
    height: 10px;
    padding: 5px 10px;
}

.why-box p {
    margin: 30px;
    text-align: center;
}

.why-box svg {
    position: absolute;
}

.ida-box {
    position: absolute;
    font-family: Ubuntu;
    font-size: 12px;
    border: solid 1px #ffffff;
    background-color: rgb(17, 31, 51);
    opacity: 0.1;
    z-index: -1;
    width: 240px;
    height: 120px;
}

.ida-box p {
    text-align: left!important; 
    margin: 10px;
    white-space: pre-wrap;
}

.ida-box-toolbar {
    border-bottom: solid 1px #ffffff;
    height: 1.3em;
}

#left-ida-box {
    top: -200px;
    left: -150px;
}

#left-ida-box svg {
    position: absolute;
    top: 100%;
    left: 50%;
}

#right-ida-box {
    width: 400px;
    height: 130px;
    top: -210px;
    right: -320px;
}

#right-ida-box svg {
    position: absolute;
    top: 100%;
    right: 70%;
}

#reason1 {
    height: 180px;
    width: 280px;
    grid-column: 1 / 7;
}

#reason1 p {
    text-align: left;
    margin-left: 40px;
}

#reason1-left-line {
    position: absolute;
    right: calc(50% + 140px);
    top: calc(50px + 70px);
    height: calc(50px + 70px);
    width: calc(25% - 140px - 4px);
}

#reason1-right-line {
    position: absolute;
    z-index: -1;
    left: calc(50% + 140px);
    top: calc(50px + 70px);
    height: calc(50px + 70px);
    width: calc(25% - 140px + 5px);
}

.top-arrow {
    top: -7px;
    left: calc(50%);
}

.left-arrow {
    top: 45%;
    left: -200px;
}

.right-arrow {
    top: 45%;
    right: -200px;
}

.bottom-arrow {
    top: calc(100%);
    left: calc(50% - 5px);
}

.mobile-bottom-arrow {
    display: none;
}

.bottom-left-arrow {
    top: calc(100% - 4px);
}

.bottom-right-arrow {
    top: calc(100% - 4px);
    right: 50%;
}

#reason2-line {
    position: absolute;
    z-index: -1;
    left: 25%;
    top: calc(50px + 142px + 50px + 132px);
    height: 108px;
    width: calc(25% - 70px);
}

#reason2 {
    height: 130px;
    width: 320px;
    grid-column: 1 / 4;
    margin-top: 10px;
}

#reason3-line {
    position: absolute;
    z-index: -1;
    right: 25%;
    top: calc(50px + 142px + 50px + 132px);
    height: 108px;
    width: calc(25% - 70px);
}

#reason3 {
    height: 130px;
    width: 320px;
    grid-column: 4 / 7;
    margin-top: 10px;
}

#result {
    margin-top: 110px;
    font-size: 22px;
    height: 120px;
    width: 470px;
    grid-column: 1 / 7;
    font-weight: 600;
    position: relative;
}

#result p {
    text-align: center;
}

#result-left-arrow {
    top: -7px;
    left: calc(50% - 70px - 5px);
}

#result-right-arrow {
    top: -7px;
    right: calc(50% - 70px - 7px);
}

#left-result-ida-box {
    height: 150px;
    top: -30px;
    left: calc(-240px - 2px - 315px + 120px - 2px);
}

#left-result-ida-box svg {
    position: absolute;
    top: 100px;
    left: 120px;
}

#right-result-ida-box {
    height: 140px;
    top: -20px;
    right: calc(-240px - 2px - 315px + 120px + 2px);
}

#right-result-ida-box svg {
    position: absolute;
    top: 90px;
    right: 120px;
}

#blog {
    margin-top: 100px;
    display: none;
}

#blog h2 span {
    margin:2px;
}

#blog ul {
    margin: auto;
    padding-right: 10px;
    margin-top: 50px;
    display: grid;
    width: 820px;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

#blog ul li {
    float: left;
    margin-left: 10px;
    font-family: Poppins;
    padding: 30px;
    border-top: 2px solid #63fffe;
    height: 290px;
    background-image: -moz-linear-gradient( 90deg, rgb(23,40,69) 0%, rgb(23,46,93) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(23,40,69) 0%, rgb(23,46,93) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(23,40,69) 0%, rgb(23,46,93) 100%);
    box-shadow: 1.882px 17.901px 73px 0px rgba(0, 0, 0, 0.5);
}

#blog ul li h4 {
    text-align: left;
    font-family: Rajdhani;
    font-weight: 500;
    font-size: 20px;
}

#blog ul li p {
    margin-top: 30px;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 100;
    color: rgba(168, 198, 242, 0.65);
    text-align: left;
    height: 150px;
}

#blog ul li a {
    color: #a8c6f2;
    display: inline-block;
    margin-top: 35px;
    font-size: 14px;
    color: rgb(99, 255, 254);
    text-decoration: none;
    text-align: left;
    font-weight: 300;
    border-bottom: solid 2px rgba(255, 255, 255, 0.6);
}

#blog ul li a:hover {
    border-bottom: solid 3px #ffffff;
}

#about {
    padding: 120px 0;
    position: relative;
}

#about-bg {
    position: absolute;
    z-index: -2;
    opacity: 0.4;
    height: 100%;
    width: 100%;
    
    background: rgba(25,49,77,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(25,49,77,1) 0%, rgba(25,49,77,1) 14%, rgba(25,46,77,1) 26%, rgba(25,46,77,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(25,49,77,1)), color-stop(14%, rgba(25,49,77,1)), color-stop(26%, rgba(25,46,77,1)), color-stop(100%, rgba(25,46,77,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(25,49,77,1) 0%, rgba(25,49,77,1) 14%, rgba(25,46,77,1) 26%, rgba(25,46,77,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(25,49,77,1) 0%, rgba(25,49,77,1) 14%, rgba(25,46,77,1) 26%, rgba(25,46,77,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(25,49,77,1) 0%, rgba(25,49,77,1) 14%, rgba(25,46,77,1) 26%, rgba(25,46,77,1) 100%);
    background: radial-gradient(ellipse at center, rgba(25,49,77,1) 0%, rgba(25,49,77,1) 14%, rgba(25,46,77,1) 26%, rgba(25,46,77,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19314d', endColorstr='#192e4d', GradientType=1 );
    
    background-position: center;
    background-size: 1500px 1500px;
}

#about ul {
    margin: auto;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    max-width: 850px;
    width: 100%;
}

#about ul li {
    display: grid;
    grid-template-columns: 100px 1fr;
    font-family: Rajdhani;
    font-size: 22px;
    margin: auto;
    margin-top: 50px;
    width: 90%;
}

#about ul li h4 {
    margin: auto;
    font-weight: 500;
    font-size: 20px;
    margin-left: 10px;
}

#about ul li div {
    height: 100px;
}

#cpu {
    background: url(images/cpu.png) no-repeat center;
    background-size: 70px;
}

#satellite {
    background: url(images/satellite.png) no-repeat center;
    background-size: 60px;
}

#code {
    background: url(images/code.png) no-repeat center;
    background-size: 68px;
}

#buildings {
    background: url(images/buildings.png) no-repeat center;
    background-size: 70px;
}

footer {
    margin-top: 70px;

}

footer ul {
    list-style: none;
    margin: 10px;
    text-align: center;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 100;
    text-transform: uppercase;
    color: rgba(168, 198, 242, 0.5);
}

footer ul li {
    margin-top: 6px;
}

@media only screen and (max-width: 700px) {
    body {
        background-image: none;
    }

    #header-content {
        max-width: 600px;
    }
    
    h2 {
        font-size: 28px;
        font-weight: 500;
    }

    h2 span {
        font-weight: 500;
        font-size: 1.3em;
    }
    
    #contact-email a {
        display: inline;
    }
    
    #email-address {
        display: none;
    }
    
    #top-bg {
        display: none;
    }
    
    #slogan {
        margin-top: 30px;
    }
    
    #slogan h1 {
        font-size: 24px;
        width: 280px;
        margin: auto;
    }
    
    #terminal {
        width: 80%;
        max-width: 400px;
        margin-top: 30px;
        padding: 10px;
    }
    
    .contact-form {
        width: 80%;
        max-width: 300px;
        padding: 20px;
    }
    
    .contact-form h3 {
        font-weight: 600;
        font-size: 19px;
    }
    
    .contact-form p {
        font-size: 14px;
    }
    
    .contact-form form {
        margin-top: 0px;
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-form input {
        margin: auto;
        margin-top: 10px;
        padding: 10px 14px;
        font-size: 14px;
        clear: both;
    }
    
    .contact-form input {
        width: 190px;
    }
    
    .contact-form input[type=submit] {
        margin: auto;
        margin-top: 20px;
        font-size: 14px;
        height: 50px;
        width: 100px;
    }
    
    #bg-logo {
        height: 85px;
        background-size: 524px 85px;
    }
    
    #why {
        padding: 0;
    }
    
    .why-toolbar {
        border: none;
    }
    
    .why-box {
        width: 90% !important;
        max-width: 300px !important;
        width: 250px;
        height: 100px !important;
    }
    
    .why-box p {
        margin: 12px;
        font-size: 17px;
        font-weight: 500;
    }
    
    #reason1 {
        grid-column: 1 / 6;
        height: 140px !important;
    }
    
    #reason2 {
        margin-top: 20px;
        grid-column: 2 / 7;
    }
    
    #reason3 {
        margin-top: 20px;
        grid-column: 1 / 6;
    }
    
    #result {
        grid-column: 1 / 7;
        height: 90px !important;
        width: 90% !important;
        max-width: 370px !important;
        font-weight: 500;
        margin-top: 60px;
    }
    
    #result p {
        font-size: 19px;
        margin-top: 15px;
    }
    
    .ida-box, .top-arrow, #reason1-left-line, #reason1-right-line, #reason2-line, #reason3-line, #result-left-arrow, #result-right-arrow {
        display: none;
    }
    
    .mobile-bottom-arrow {
        display: block;
        top: 100%;
        left: 50%;
        z-index: -1;
    }
    
    .bottom-arrow {
        display: none;
    }
    
    #about {
        margin-top: 0vh;
        padding: 110px 0;
    }
    
    #about ul {
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 450px;
        margin-top: 20px;
    }
    
    #about ul li {
        margin-top: 10px;
    }
    
    #about ul li {
        grid-template-columns: 90px 1fr;
    }
    
    #cpu {
        background-size: 60px;
    }

    #satellite {
        background-size: 55px;
    }

    #code {
        background-size: 55px;
    }

    #buildings {
        background-size: 60px;
    }

}